@{
    ViewBag.Title = "Integrantes";
}

<h3>Primer Desafio DSE</h3>

<div class="container">
    <p>
        <b> Integrantes:<br /></b>
                    <ul>

                        <li> Denys Enrique Cruz Inestroza </li>
                        <li> Marco Antonio Hernandez Hernandez<br /></li>

                    </ul>
    </p>
</div>
